nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/oca_chapter01/BoyaBasics/nbproject/private/
/oca_chapter01/OcaBasics/nbproject/private/
/oca_chapter01/Zoo/nbproject/private/
/oca_chapter01/Steinzeit/nbproject/private/
/oca_chapter01/Bronze/nbproject/private/